/* Architects Daughter */
@font-face {
 font-family: Architects Daughter;
 font-style: normal;
 font-weight: normal;
 font-display: swap;
 src: url(https://asalynin.github.io/ArchitectsDaughter-Regular.ttf) format('ttf');
}

